@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style:none
}
main {
    /* background-color: #b7b7b7; */
    display: flex;
    text-align: center;
    justify-content: center;
}
header {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-top: 5%;
    padding-right: 10%;
}
.redes a {
    margin: 5%;
}
i {
    color: #1d396c;
    font-size: 2rem;
}
.text {
    background-color: white;
    border-radius: 1%;
}
h1 {
    text-align: center;
    color: #b7b7b7;
    padding: 2%;
}
h6 {
    margin-top: 1%;
    font-weight: 700;
}
article {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3%;
}
p{
    text-align: justify;
}

.accordion-button {
padding-left: 0px;
margin-left: 0px;
font-weight: 800;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236c757d' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236c757d' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#carouselExampleControls {
    margin-bottom: 5%;
    
}
#cicloPres {
    margin-right: 10%;
}
#arqueo {

}

.botones {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}
button {
    margin-left: 1%;
    margin-right: 1%;
}

#GG {
    background-color: #ff7f50;
    border-color: #ff7f50;
}
#LGTI {
    background-color: #8e4aa7;
    border-color: #8e4aa7;
}
#IQ {
    background-color: #61d079;
    border-color: #61d079;
}

.back {
    margin: 1%;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 2%;
}